body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.game-container{
  display:inline-block;
}

.game {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
  height: 750px;
  width: 1100px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  background-color: lightblue;
}
.character-info{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  height: 750px;
  width: 250px;
  border: 1px solid black;
}
.map{
  image-rendering: pixelated;
  position: relative;
}

.banner{
  width: 100%;
}

.banner-image{
  width: 100%;
  height: 200px;
}

.user-nav-div{
  width: 100%;
}

.map-container{
  position: relative;
}

.ammo{
  position: absolute;
}

.life-point{
  position: absolute;
}