body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.game-container{
  display:inline-block;
}

h2 {
  font-family: fantasy;
}
h3{
  font-family: fantasy;
}
p{
  font-family: fantasy;
}

.game {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 10px;
  height: 750px;
  width: 1100px;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  
  background-image: url("https://i.pinimg.com/originals/6c/38/72/6c387260c0f1db12bd552c50ceafa1be.jpg");
}
.character-info{
  background-color: darkcyan;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  height: 750px;
  width: 305px;
  border: 1px solid black;
}
.map{
  image-rendering: pixelated;
  position: relative;
}

.banner{
  margin-right: 5px;
  margin-left: 5px;
}

.banner-image{
  width: 100%;
  height: 200px;
}

.nav_bar{
  width: 100%;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.user-nav-div{
  background-color: darkcyan;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: right;
}

.map-container{
  position: relative;
}

.ammo{
  position: absolute;
}

.life-point{
  position: absolute;
}

.restart-button{
  background-color: black;
  color: red;
  cursor: pointer;
}

.restart-button:hover{
  background-color: red;
  color: black;
}
